.Form {
  background-color: var(--fg-color);
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shadow);
  color: var(--ft-color);
  flex: var(--lt-flex);
  position: sticky;
  height: max-content;
  top: var(--sticky);
}
