:root {
  --bg-color: #f3f3f3;
  --fg-color: rgb(255, 255, 255);
  --bx-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px 0px;
  --ft-color: #8b8b8b;
  --ic-bg-color: #f3f3f3;
  --ic-padding: 10px;
  --ic-bd-radius: 10px;
  --bd-radius: 20px;
  --lt-flex: 7;
  --rt-flex: 11;
  --ct-flex: 33;
  --padding: 20px;
  --sticky: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}

.App {
  padding: 50px;
}
