.App-dark {
  --fg-color: #2a2a2a;
  --ft-color: #d6d6d6;
  background-color: #0e0e0e;
}

.App-dark ::selection {
  color: #0c0c0c;
  background-color: #e6e6e6;
}

.BlogDetails-dark {
  background-color: #2a2a2a;
}

.Editor-dark .ql-editor,
.BlogDetails-dark .ql-editor {
  color: white;
}

.Form-dark {
  background-color: #ffffff;
}

.desc-dark p:nth-child(1) {
  color: white;
}

.desc-dark p:nth-child(2) {
  color: #c4c4c4;
}

.footer-dark p:nth-child(1) {
  background-color: #0c0c0c;
}

.footer-dark p {
  color: #c4c4c4;
}

.Nav-dark .btn:nth-child(3):hover .btn--icon {
  color: #ffffff;
}

.Nav-dark .btn:hover .btn--name,
.Action-dark .btn:hover .btn--name {
  color: #fff;
}

.Filter-dark .btn:hover .btn--icon {
  color: black;
}

.Filter-dark .btn:hover {
  color: #fafafa;
}

.Editor-dark .ql-toolbar.ql-snow {
  background-color: #2a2a2a;
}

.Editor-dark .ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.Editor-dark .ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}

.altText-dark {
  color: #d6d6d6;
}
