@media only screen and (min-width: 780px) {
  .Page {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 2%;
  }
}

.Filter,
.Main,
.Nav,
.Action,
.Form,
.Editor,
.BlogDetails {
  padding: var(--padding);
}
