.Page {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 30px;
}

.Filter,
.Nav,
.Action,
.Form,
.Editor,
.Info,
.BlogDetails,
.Blogs {
  padding: var(--padding);
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn--icon {
  background-color: var(--ic-bg-color);
  padding: var(--ic-padding);
  border-radius: var(--ic-bd-radius);
  width: 40px;
  height: 40px;
}
