.Page {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  height: 100%;
  gap: 30px;
}

.Filter,
.Nav,
.Action,
.Form,
.Editor,
.Info,
.BlogDetails {
  padding: var(--padding);
}

.btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
  transition: var(--anim);
}

.btn--icon {
  padding: var(--ic-padding);
  border-radius: var(--ic-bd-radius);
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

@media only screen and (min-width: 780px) {
  .Filter,
  .Nav,
  .Action,
  .Form {
    background-color: var(--fg-color);
    border-radius: var(--bd-radius);
    box-shadow: var(--bx-shadow);
    color: var(--ft-color);
    flex: var(--lt-flex);
    top: var(--sticky);
    display: flex;
    flex-direction: column;
    user-select: none;
    position: sticky;
    height: max-content;
    gap: 15px;
  }
}

@media only screen and (max-width: 1090px) {
  .Filter .btn--name {
    display: none;
  }

  .Filter,
  .Action,
  .Nav {
    flex: 1;
  }
}

@media only screen and (max-width: 780px) {
  .Page {
    flex-direction: column;
  }

  .Filter {
    display: none;
  }

  .Info {
    border-radius: 0;
    height: 120px;
  }

  .Blogs {
    padding: 0 20px;
    margin-bottom: 90px;
  }

  .BlogRoute {
    padding: 0;
    margin-bottom: 20px;
  }

  .EditRoute {
    padding: 0;
    gap: 0;
  }

  .Form {
    /* display: none; */
    box-shadow: none;
    border-top: 1px solid #dfdfdf;
    border-radius: 0;
    padding-bottom: 20px;
    padding-top: 2rem;
    background-color: white;
  }

  .altText {
    padding: 0.3rem 1rem;
    margin-top: 170px;
  }

  .Nav,
  .Action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
    background-color: #2a2a2a;
    color: white;
  }

  .navText,
  .actionText {
    display: none;
  }

  .btn--icon {
    font-size: 1.2rem;
  }
}
