.Editor {
  background-color: var(--fg-color);
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shadow);
  flex: var(--ct-flex);
  height: max-content;
  width: 40vw;
}

.ql-snow .ql-editor {
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
  min-height: 75vh;
}

.ql-toolbar.ql-snow {
  border: none;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 2;
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor {
  font-size: 1.5rem;
}
.ql-editor p {
  margin-top: 1.5rem;
}

.ql-editor h1 {
  font-weight: 600;
}

.ql-editor h2 {
  font-weight: 500;
  margin: 0.5rem 0;
}
