.Editor {
  background-color: var(--fg-color);
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shadow);
  flex: var(--ct-flex);
  height: max-content;
  width: 40vw;
}

.ql-snow .ql-editor {
  font-family: "Montserrat", sans-serif;
  padding-top: 2rem;
  min-height: 75vh;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none;
}
