.Info {
  background-color: #2a2a2a;
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shadow);
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.brands {
  cursor: pointer;
  transition: color 0.3s ease;
  color: #0e0e0e;
}

.brands:nth-child(1):hover {
  color: rgb(255, 124, 16);
}
.brands:nth-child(2):hover {
  color: white;
}
.brands:nth-child(3):hover {
  color: rgb(96, 187, 247);
}
.brands:nth-child(4):hover {
  color: rgb(255, 147, 219);
}

@media only screen and (max-width: 780px) {
  .Info {
    border-radius: 0;
    height: 120px;
  }
}
