.Filter .btn:hover .btn--icon {
  background-color: var(--ic-bg-color);
  margin-right: 5px;
}
.Filter .btn:hover {
  color: black;
  font-weight: 600;
}

@media only screen and (max-width: 1090px) {
  .Filter .btn:hover .btn--icon {
    margin-right: 0;
  }
}
