.BlogDetails {
  background-color: #ffffff;
  border-radius: var(--bd-radius);
  box-shadow: var(--bx-shadow);
  flex: var(--ct-flex);
  height: max-content;
  /* padding-top: 0; */
}

.BlogDetails .ql-toolbar.ql-snow {
  display: none;
}

.BlogDetails .ql-editor {
  padding: 0 2rem;
}

@media only screen and (max-width: 780px) {
  .BlogDetails {
    border-radius: 0;
    box-shadow: none;
    min-height: 100vh;
  }
}
