.Action .btn {
  border-radius: 13px;
}

.Action .btn:hover .btn--icon {
  background-color: var(--ic-bg-color);
  margin-right: 5px;
}

.Action .btn:hover {
  color: black;
  font-weight: 600;
}

@media only screen and (max-width: 1285px) {
  .hideText {
    display: none;
  }
}

@media only screen and (max-width: 1090px) {
  .Action .btn:hover .btn--icon {
    margin-right: 0;
  }
}
